#selector-wrapper {
    background-color: antiquewhite;
    padding: 2rem;
    margin: 2rem auto;
    min-height: 50vh;

    button.ball {
        width: 3rem;
        height: 3rem;
        padding: 0;
        border-radius: 50%;
    }
}



